//------------------------------------------------------------------------
// WRAP
//------------------------------------------------------------------------

.wrap {
	width: 100%;
	max-width: unquote($xl);
	margin: 0 auto;
	padding: $grid_padding;
	position: relative;
}