//------------------------------------------------------------------------
// BENEFITS BLOCKS MODULE
//------------------------------------------------------------------------

.content-section.benefits-blocks {
	padding: 8rem 0 0;
		
	header {
		width: 100%;
		height: auto;
		text-align: center;
		margin-bottom: 2rem;
	}
	
	.section-content {
		width: 100%;
		
		article {
			width: 100%;
			
			.blocks {
				width: 100%;
				display: grid;
				grid-template-columns: 1fr;
				grid-gap: 2rem;
				
				&.b-2 {
					@include breakpoint($sm) {
						grid-template-columns: 1fr 1fr;
					}
				}
				&.b-3 {
					@include breakpoint($sm) {
						grid-template-columns: 1fr 1fr;
					}
					@include breakpoint($tablet) {
						grid-template-columns: 1fr 1fr 1fr;
					}
				}
				&.b-4 {
					@include breakpoint($sm) {
						grid-template-columns: 1fr 1fr;
					}
					@include breakpoint($md) {
						grid-template-columns: 1fr 1fr 1fr 1fr;
					}
				}
				&.b-5 {
					@include breakpoint($sm) {
						grid-template-columns: 1fr 1fr;
					}
					@include breakpoint($tablet) {
						grid-template-columns: 1fr 1fr 1fr;
					}
					@include breakpoint($desktop) {
						grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
					}
				}
				
				&.static {
					// default
				}
				
				&.expanding {
					
					.block {
						
						.block-content {
							
							.block-content-wrap { display: none; }
						
							.expand {
								border-bottom: 2px solid $black;
								font-size: 1.6rem;
								font-weight: bold;
								text-transform: uppercase;
								cursor: pointer;
								margin-top: 2rem;
								display: inline-block;
							}
							
							.close {
								font-size: 1.6rem;
								font-weight: bold;
								text-align: right;
								cursor: pointer;
								margin-top: 2rem;
								display: none;
								float: right;
							}
						}
					}
				}
				
				.block {
					width: 100%;
					max-width: 32rem;
					margin: 0 auto 4rem;
					
					@include breakpoint($sm) {
						margin: 0 auto 7rem;
					}
					
					img {
						display: block;
						margin: 0 auto;
						width: 100%;
					}
				
					p {
						text-align: left;
						
						&.title {
							text-align: center;
							font-size: 2rem;
							position: relative;
							margin: 2.5rem 0 -1rem;
						}
					}
				}
			}
		}
		
		footer {
			text-align: center;
			margin-top: 4rem;
			
			a.btn {
				display: inline-block;
				margin: 0 1.5rem 1.5rem;
			}
		}
	}
}