/************************************************************************/
/* FOOTER STYLES
/************************************************************************/

footer[role="contentinfo"] {
	background: $darkgrey;
	padding: 3rem 0;
	color: $white;
	text-align: center;
	
	@include breakpoint($lg){
		padding: 5rem 0;
	}
	
	.wrap {
		@include justify-content(center);
	}
	
	.footer-logo {
		width: 3.2rem;
		height: 3.2rem;
	}
	ul {
		font-size: 1.4rem;
		list-style-type: none;
		margin: 3rem 0;
		padding: 0;
		
		li {
			display: inline-block;
			margin-bottom: 0.5rem;
			color: $grey;
			
			&:not(:last-child):after {
				content: " | "
			}
			
			a {
				color: $white;
				margin: 0 0.8rem;
				
				@include breakpoint($lg){
					margin: 0 1.6rem;
				}
			}
		}
	}
	p {
		font-size: 1.3rem;
		margin: 0 0 1rem;
		color: $grey;
	}
}