/************************************************************************/
/* HEADER STYLES
/************************************************************************/

header[role="banner"] {
	padding: 2rem;
	background-color: $white;
	position: relative;
	z-index: 10;
	font-size: 1.8rem;
	
	@include breakpoint($tablet){
		padding: 0;
	}
		
	.custom-logo-link {
		width: 15rem;
		display: flex;
		align-items: center;
	}
}

#main_menu_mobile {
	display: flex;
	
	@include breakpoint($tablet){
		display: none;
	}
}
#main_menu {
	display: none;
	
	@include breakpoint($tablet){
		display: block;
	}
}
.main-menu-mobile {
	@include position(fixed, -115% null null 0);
	transition: top 0.5s ease-in-out;
    width: 100%;
    background: rgba($black,0.95);
    height: 100vh;
    padding: 8rem 0 8rem;
    display: flex;
    align-items: center;
    overflow-y: scroll;
	z-index: 10;
    
    &.open {
	    top: 0;
    }
}
body.admin-bar .main-menu-mobile {
	padding-top: 14.6rem;
}
.main-menu {
	width: 100%;
	
	ul {
		font-size: 2.4rem;
		//border-bottom: 1px solid rgba($white, 0.5);
		
		@include breakpoint($tablet){
			display: flex;
			justify-content: space-between;
			font-size: 1.8rem;
		}
		
		li {
			position: relative;
			width: 100%;
			text-align: center;
			transition: all 0.3s ease-in-out;
			padding: 2.5rem 0;
			
			@include breakpoint($tablet){
				width: auto;
				padding: 2.5rem 3rem;
				
				&:last-child {
					padding-right: 0;
				}
				
				&.menu-item-has-children:focus .sub-menu,
				&.menu-item-has-children:focus-within .sub-menu,
				&.menu-item-has-children:hover .sub-menu {
					visibility: visible; /* shows sub-menu */
					opacity: 1;
					z-index: 1;
					transform: translateY(0%);
					transition-delay: 0s, 0s, 0.3s; /* this removes the transition delay so the menu will be visible while the other styles transition */
				}
				
				&:focus, &:focus-within, &:hover {						
					> a:after {
						width: 100%;
					}
				}
			}
			
			a {
				display: block;
				padding: 2rem;
				//border-top: 1px solid rgba($white, 0.5);
				color: $white;
				transition: all 0.3s ease-in-out;
				
				@include breakpoint($tablet){
					border: 0;
					padding: 0;
					color: $text_color;
					position: relative;
					transition: all 0.3s ease-in-out;
					
					&:after {
						content: "";
						display: block;
						width: 0;
						height: 0.2rem;
						background: $text_color;
						position: absolute;
						bottom: -0.6rem;
						left: 0;
						transition: all 0.3s ease-in-out;
					}
					
					&:hover {
						color: $text_color;
					}
				}
			}
			
			.sub-menu {
				display: block;
				transition: all 0.3s ease-in-out;
				overflow: hidden;
				font-family: $base_font;
				font-size: 1.4rem;
				text-transform: uppercase;
				margin: -1rem 0 1rem;
				border: 0;
				
				@include breakpoint($tablet){
					visibility: hidden; /* hides sub-menu */
					opacity: 0;
					position: absolute;
					top: calc(100% + 1rem);
					left: 0;
					width: 100%;
					padding: 1rem 0;
					transform: translateY(-2em);
					z-index: -1;
					transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s, z-index 0s linear 0.01s;
					background: $white;
				}
				
				li {
					width: 100%;
					margin: 0;
					padding: 0;
						
					@include breakpoint($tablet){
						text-align: left;
						
						&.current-menu-item a {
							//background: rgba($secondary_color, 0.2);
							//color: $primary_color;
							//font-weight: 600;
						}
					}
					
					a {
						transition: all 0.3s ease-in-out;
						font-weight: 500;
						padding: 0.5rem 0;
						border: 0;
						
						&:after { display: none; }
						
						@include breakpoint($tablet){
							padding: 1rem 3rem 0.6rem;
							
							&:hover {
								//background: rgba($secondary_color, 0.2);
								//color: $primary_color;
								//font-weight: 600;
							}
						}
					}
				}
			}
		}
	}
}
.menu-toggle {
    display: block;
    overflow: visible;
    margin: 0;
    padding: 0;
    cursor: pointer;
    transition-timing-function: linear;
    transition-duration: .15s;
    transition-property: opacity,filter;
    text-transform: none;
    color: inherit;
    border: 0;
    background-color: transparent;
    z-index: 10;
    
    @include breakpoint($tablet){
	    display: none;
    }
    
    &.active {
	    .menu-icon .menu-icon-inner {
		    transition-delay: .12s;
		    transition-timing-function: cubic-bezier(.215,.61,.355,1);
		    transform: rotate(45deg);
		    
		    &:before {
			    top: 0;
			    transition: top 75ms ease,opacity 75ms ease .12s;
			    opacity: 0;
		    }
		    &:after {
		        bottom: 0;
			    transition: bottom 75ms ease,transform 75ms cubic-bezier(.215,.61,.355,1) .12s;
			    transform: rotate(-90deg);
		    }
	    }
    }
	
	.menu-icon {
	    position: relative;
	    display: inline-block;
	    width: 2.4rem;
	    height: 2rem;
	    
	    .menu-icon-inner {
		    display: block;
		    position: absolute;
	        top: 50%;
		    margin-top: -2px;
		    width: 2.4rem;
		    height: 0.3rem;
		    border-radius: 0.3rem;
		    background-color: $black;
		    transition-timing-function: cubic-bezier(.55,.055,.675,.19);
			transition-duration: 75ms;
		    transition-property: transform;
		    
		    &:before, &:after {
			    display: block;
			    content: "";
			    position: absolute;
			    width: 2.4rem;
			    height: 0.3rem;
			    border-radius: 0.3rem;
			    background-color: $black;
			    transition-timing-function: ease;
			    transition-duration: .15s;
			    transition-property: transform;
		    }
		    &:before {
			    top: -0.7rem;
		        transition: top 75ms ease .12s,opacity 75ms ease;
		    }
		    &:after {
			    bottom: -0.7rem;
			    transition: bottom 75ms ease .12s,transform 75ms cubic-bezier(.55,.055,.675,.19);
		    }
		}
	}
}