/************************************************************************/
/* VIDEO
/************************************************************************/

.video-wrapper, .embed-container {
	position: relative;
	padding-bottom: 56%; /* 16:9 */
	padding-top: 0;
	height: 0;
	width: 100%;
	
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	
	.close {
		position: absolute;
		top: -40px;
		right: 0;
	}
}