// base
@import "breakpoint";
@import "../../../_source/scss/_core/_mixins/bourbon";
@import "../../../_source/scss/_core/variables";
// @import "../../../_source/scss/_core/_mixins/_clearfix.scss";
// @import "../../../_source/scss/_core/_mixins/_section-padding.scss";
// @import "../../../_source/scss/_core/_mixins/_wrap.scss";

.event-builder-blocks-container { max-width: 1200px; margin: 0 auto; }

.event-builder-block {
	background-color: #0c2340;
	padding: 1rem;
	text-align: center;
	position: relative;

	&.bg-featured-image, &.bg-image {
		&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(to top, rgba(20, 20, 20, 0.9) 0%, rgba(20, 20, 20, 0.6) 60%, rgba(20, 20, 20, 0.4) 100%);
			z-index: 0;
		}
		> img:first-child {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: -1;
		}
		.builder-image { position: relative; z-index: 1; }
	}

	.builder-block-logo {
		max-width: 80%;
    height: 5rem;
    width: auto;
		margin: 1rem auto 2rem;

		img {
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}

	.extra-image {
		max-width: 100%;
		margin: 0 auto 2rem;
		aspect-ratio: 16/9;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.extra-details {
		margin-bottom: 2rem;
		font-size: 15px;
		font-weight: 700;
		color: $white;
		a:not(btn) { color: currentColor; font-weight: 700; text-decoration: underline; }
		> div:not(:last-child) { margin-bottom: 0.5rem; }
		.sf-range { display: inline-block; margin-right: 0.6rem; }
		.starting-price {
			@include breakpoint($lg) {
				display: inline-block;
				&:before { content: "|"; margin-right: 0.8rem; }
			}
		}
		.qmi-link { display: inline-block; }
	}
	.builder-buttons {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-wrap: wrap;
		gap: 1rem;
	}
	.btn[class*="color-"] {
		border-width: 2px;
		border-style: solid;
		text-decoration: none !important;
		padding: 10px 25px;
    min-width: 0;
		&.color-white { background-color: $white; border-color: $white; color: $green !important; }
		&.color-white-outline { background-color: transparent; border: 2px solid $white; color: $white !important; }
		&.color-white-outline:hover { background-color: $white; color: $green !important; }
		&.color-light-grey { background-color: $grey; border-color: $grey; color: $white !important; }
		&.color-light-grey-outline { background-color: transparent; border: 2px solid $grey; color: $grey !important; }
		&.color-light-grey:hover, &.color-light-grey-outline:hover span { background-color: $darknavy; border-color: $darknavy; color: $white !important; }
		&.color-dark-grey { background-color: #4d5149; border-color: #4d5149; color: $white !important; }
		&.color-dark-grey-outline { background-color: transparent; border: 2px solid #4d5149; color: #4d5149 !important; }
		&.color-dark-grey-outline:hover { background-color: #4d5149; color: $white !important; }
		&.color-black { background-color: $black; border-color: $black; color: $white !important; }
		&.color-black-outline { background-color: transparent; border: 2px solid $black; color: $black !important; }
		&.color-black-outline:hover { background-color: $black; color: $white !important; }
	}

	.callout-flags {
		@include position(absolute,1.5rem 0 null null);

		.flag {
			width: auto;
			mask-image: url('../../svg/callout-flag.svg');
			mask-position: left center;
			mask-size: cover;
			font-family: $heading-font;
			font-weight: 700;
			font-size: 1.6rem;
			text-transform: uppercase;
			margin-bottom: 1rem;
			padding: 0.7rem 1.5rem 0.7rem 2.5rem;
		}
	}
}
